@font-face {
    font-family: Akashi;
    src: url('/assets/Akashi.ttf')
}

@keyframes loading {
    0% {transform: scaleY(0.4) }
    20% {transform: scaleY(1)}
    40% {transform: scaleY(0.4)}
    100% { transform: scaleY(0.4)}
    
}

:root {
    --input-width: 250px;
    --input-height: 50px;
    --input-height-small: 25px;
    --font-size: 24px;
    --font-size-small: 20px;
    --baseline: 16px;
    --half-baseline: 8px;
}

body, html {
    font-family: Akashi, 'Times New Roman', Times, serif;
    font-size: var(--font-size);
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #003d4c;
    display: flex;
    align-items: center;
    justify-content: center;

}

.app {
    position: relative;
}

#message-container {
    color: white;
    position: absolute;
    top: -42px;
    font-size: 32px;
    white-space: nowrap;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
}

.active-game {
    cursor: pointer;
    width: var(--input-width);
    height: var(--input-height-small);
    background: white;
    font-size: var(--font-size-small);
    text-align: center;
    line-height: var(--input-height-small);
    margin-bottom: var(--half-baseline);
}
.active-game#selected-game {
    background: #607d8b;
}
input {
    font-family: Akashi;
    width: var(--input-width);
    height: var(--input-height);
    padding: 0 var(--baseline);
    box-sizing: border-box;
    font-size: var(--font-size);
    border: none;
    margin-bottom: var(--baseline);
}
.create-game-input {
    display: block;
}

button {
    font-family: Akashi;
    display: block;
    cursor: pointer;
    border: none;
    background: white;
    width: var(--input-width);
    height: var(--input-height);
    font-size: var(--font-size);
    margin-bottom: var(--baseline);
    border-radius: 2px;
}
button:focus {
    outline:0;
}
button:active {
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
    font-size: 23px;
}

#content-container {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#content-container button:last-child, input:last-child  {
    margin-bottom: 0;
}

#canvas {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.spinner-container {
    margin-bottom: var(--baseline);
}

.spinner {
    display: inline-block;
    background: white;
    width: 10px;
    height: 50px;
    border-radius: 2px;
    margin-right: 4px;
    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.spinner:last-child {
    margin-right: 0;
}

.loading-bar2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.loading-bar3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.loading-bar4 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}